.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around
}

.grid {
    display: grid;
}

.place-items-center {
    place-items: center;
}