.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.space-around {
    justify-content: space-around
}

.grid {
    display: grid;
}

.place-items-center {
    place-items: center;
}